:root {
  --max-width: 1100px;
  --darkblue-signup-bg: hsl(217, 28%, 15%);
  --darkblue-main-bg: hsl(218, 28%, 13%);
  --darkblue-footer-bg: hsl(216, 53%, 9%);
  --darkblue-testimonial-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var( --darkblue-signup-bg);
  /* overflow-x: hidden; */
  font-size: 14px;
  color: var(--white);
}

a{
  text-decoration: none;
  color: var( --white);
}

ul {
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 47px 40px  0;
}

main{
  /* padding: 47px 40px */
}

button{
  width: 486px;
  padding: 36px;
  border: none;
  color: var(--white);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: linear-gradient(0.25turn, var(--cyan), var(--blue));
}