.main {
  font-family: var(--font-opensans);
}

.nav {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.navUl {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navLi {
  font-weight: 400;
}

.navLi a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.navLi,
.button,
.h1,
.h2,
.testimonial,
.suscribe button {
  font-family: var(--font-raleway);
}

.h1 {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.getStartedContainer {
  position: relative;
  padding-bottom: 255px;
  text-align: center;
}

.getStartedContainer__text {
  position: relative;
  z-index: 100;
}

.getStartedtext {
  padding: 0 20px;
  margin: 0 0 65px;
  font-size: 20px;
  line-height: 30px;
}

.imageIntro {
  position: relative;
  z-index: 100;
  margin-bottom: 60px;
}

.button {
  width: 300px;
  font-size: 20px;
  font-weight: 700;
}

.bgCurvy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 710px;
  background-image: url("/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blueContainer {
  padding: 0 40px;
  background-color: var(--darkblue-main-bg);
}

.featuresContainer {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 130px;
}

.featuresContainer__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.featuresContainer__item__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.text {
  font-size: 20px;
  line-height: 35px;
}

.infoContainer {
  padding-bottom: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.infoContainer__image {
  flex: 1;
}

.infoContainer__text {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex: 1;
}

.seeFylo {
  width: 220px;
  padding-bottom: 11px;
  cursor: pointer;
  font-size: 20px;
  color: var(--cyan);
  border-bottom: 2px solid var(--cyan);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeFylo:hover {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.teamContainer {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 670px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 30px;
  row-gap: 45px;
}

.teamContainer__card {
  position: relative;
  padding: 50px 30px 43px;
  background-color: var(--darkblue-testimonial-bg);
  box-shadow: 1px 2px 25px var(--darkblue-signup-bg);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.testimonial {
  font-size: 14px;
  line-height: 25px;
}

.testimonialInfo {
  display: flex;
  gap: 10px;
}

.testimonialImage {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonialPerson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quouteIcon {
  position: absolute;
  top: -25px;
  left: 10px;
}

.suscribeContainer {
  position: absolute;
  top: -25rem;
  right: 0;
  left: 0;
  max-width: 865px;
  margin: 0 auto;
  padding: 50px 25px 69px;
  text-align: center;
  background-color: var(--darkblue-signup-bg);
  box-shadow: 2px 5px 1.5rem var(--darkblue-footer-bg);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.suscribeContainer p {
  margin: 39px 0 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 30px;
}

.suscribe {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}

.suscribeButton {
  width: 100%;
  font-weight: 700;
}

.footerContainer {
  width: 85%;
  padding: 300px 0 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.logoFooter {
  padding-left: 20px;
}

.textFooter,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.direction,
.contactsGroup {
  display: flex;
  gap: 40px;
}

.direction p {
  min-width: 200px;
}

.infoLinks li {
  margin-bottom: 20px;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMediaIcon {
  margin: 0 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.socialMediaIcon:hover {
  color: var(--cyan);
  border: 1px solid var(--cyan);
}

.iconSize {
  font-size: 25px;
}

@media screen and (min-width: 750px) {
  .nav {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }

  .navUl {
    justify-content: space-between;
  }

  .navLi {
    font-size: 20px;
  }

  .h1 {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 68px;
  }

  .inputGroup {
    flex: 2;
  }

  .getStartedtext {
    width: 600px;
    padding: 0;
    margin: 0 auto 65px auto;
    font-size: 20px;
    line-height: 30px;
  }

  .imageIntro {
    width: 612px;
    height: 455px;
    margin-bottom: 75px;
  }

  .button {
    font-size: 25px;
  }

  .featuresContainer {
    padding-bottom: 290px;
    grid-template-columns: repeat(auto-fit, minmax(457px, 1fr));
    row-gap: 170px;
  }

  .featuresContainer__item__text p {
    padding: 0 25px;
  }

  .text {
    font-size: 16px;
    line-height: 30px;
  }

  .infoContainer {
    padding: 0 70px 293px;
    gap: 95px;
  }

  .infoContainer__image {
    width: 620px;
    height: 467px;
  }

  .accessIcon {
    width: 100px;
    height: 91px;
  }

  .securityIcon {
    width: 73px;
    height: 93px;
  }

  .collabIcon {
    width: 95px;
    height: 78px;
  }

  .fileIcon {
    width: 106px;
    height: 76px;
  }

  .teamContainer {
    padding-bottom: 367px;
  }

  .teamContainer__card {
    padding: 56px 30px 43px 39px;
  }

  .testimonial {
    font-size: 14px;
    line-height: 24px;
  }

  .suscribeContainer {
    top: -12rem;
    padding: 46px 77px 40px;
  }

  .suscribeContainer p {
    margin: 18px 0 32px;
    font-size: 14px;
    line-height: 25px;
  }

  .suscribe {
    flex-direction: row;
    column-gap: 26px;
  }

  .suscribe button {
    padding: 15px 0 19px;
    flex: 1;
  }

  .suscribe input {
    padding: 19px 37px 16px;
  }

  .footerContainer {
    padding-top: 198px;
  }
}

@media screen and (min-width: 1240px) {
  .getStartedContainer__text {
    width: 900px;
    margin: 0 auto;
  }

  .featuresContainer {
    row-gap: 77px;
  }

  .teamContainer__card {
    height: 240px;
    padding: 44px 25px 22px;
  }

  .infoContainer {
    flex-direction: row;
    padding-bottom: 167px;
  }

  .infoContainer__text h2 {
    font-size: 35px;
  }

  .bgCurvy {
    height: 580px;
    background-image: url("/images/bg-curvy-desktop.svg");
  }

  .textFooter {
    flex-direction: row;
    justify-content: space-between;
  }

  .direction p {
    width: 335px;
  }

  .socialMediaIcon {
    font-size: 15px;
    padding: 10px;
  }

  .textFooter p,
  .infoLinks a {
    font-size: 16px;
  }  
}
