.navUl {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.navLi,
.button,
.h1 {
  font-family: var(--font-raleway);
}

.navLi {
  font-weight: 400;
}

.button {
  font-weight: 700;
  font-size: 25px;
}

.h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  margin-bottom: 50px;
}

.getStartedContainer {
  /* margin-top: 91px; */
  /* margin-top: 20px; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px; */
}

.imageIntro{
    position: relative;
    top: 90px;
}

.getStartedContainer__blue {
  background-color: var(--darkblue-main-bg);
  padding: 0 40px;
}

.bgCurvy {
  background-image: url("/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 278px;
  width: 100%;
}

.getStartedContainer__text{
    position: relative;
    top: -120px;
}

.text {
  font-family: var(--font-opensans);
  font-size: 30px;
  line-height: 40px;
  padding: 0 20px;
  margin: 0 0 65px;
}

@media screen and (min-width: 750px) {
  .navLi {
    font-size: 20px;
  }
}

